{%extends 'base.html'%}
<!-- html -->
{% block content %}

<!-- Bootstrap -->
{%load bootstrap4%}
<!-- static -->
{% load static%}
<!-- content -->

<div class="container">
  <h1 class="text-center mt-5">Welcome to the Neighbourhood Check-In Application</h1>

  {%for hood in hoods%}
  <div class="accordion" id="accordionExample">
    <div class="card mt-3">
      <div class="card-header d-flex justify-content-between " id="{{hood.id}}">
        <h2 class="mb-0">
          <button
            class="btn  btn-outline-dark text-left"
            type="button"
            data-toggle="collapse"
            data-target="#{{hood}}"
            aria-expanded="true"
            aria-controls="{{hood}}"
          >
            {{hood.name}}
          </button>
        </h2>
        <h2 class="mb-0">
      <a href="{%url 'hood_list' hood.id%}" class="btn btn-outline-success">
        View
      </a>
        </h2>
      </div>

      <div
        id="{{hood}}"
        class="collapse show"
        aria-labelledby="{{hood.id}}"
        data-parent="#{{hood}}"
      >
        <div class="card-body">
    {{hood.description}}
        </div>
      </div>
    </div>
  </div>
    {%endfor%}

  </div>

  {% endblock %}
</div>
