{%extends 'base.html'%}

{% block content %}


{%load bootstrap4%}

{% load static%}


<div class="container">
  <h1 class="text-center mt-5">Welcome to the Neighbourhood Check-In Application</h1>

  <hr>  <a href="{% url 'new-hood'%}"><button class="btn btn-warning btn-sm">Create a Hood</button></a>  <hr>
    <div class="row">
        {% for hood in hoods%}
            <div class="col-md-4 col-lg-4 col-sm-6 ">
                <div class="card border-warning">
                    <div style="text-align:center; color:#000000;" class="card-header">
                        <h5>{{ hood.name}}</h5>
                    </div>
                    <div style="text-align:center;" class="card-image">

                            <img class="img-responsive" src="{{hood.image.url}}" alt="" height="200px" width="300px">

                    </div>
                    <div class="card-footer">
                        <a href="/hoods/{{ hood.id}}"> <button class="btn btn-warning btn-sm">Join Hood &#8594;</button> </a>
                    </div>
                </div>
                <br>
            <br>
            </div>

        {% endfor%}
    </div>
</div>
{% endblock %}
